* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.window-color {
  background-color: #74cafa;
  width: 800px;
  height: 600px;
  border: 35px solid #b2abab;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}


.window-color-night {
  background-color: #202681;
  width: 800px;
  height: 600px;
  border: 35px solid #e0bebe;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/* 
#202681 night 
#fffed7 moon
#fffd54 sun 
*/

.sun-moon {
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #fffd54;
}

.sun-moon-night {
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #fffed7;
}